h1{
padding-top: 50%;
width: 100%;    
text-align: center;

}

body{

    background-color: black;

}

img{

    display: block;
    margin-left: 35%;
    margin-right: 65%;
    
}

p{

text-align: center;
color: whitesmoke;
margin-left: 68%;

}